<div class="container">
    <div class="row">
    	<div class="col-md-12 col-xs-12">
    		<h1>Add new location</h1>
    	   	<p>
            	<div class="alert alert-success alert-dismissible fade in" role="alert"> 
            		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            			<span aria-hidden="true">×</span>
            		</button> 
            		<p class="notice">
            			Pick title for your brand new location, say something about it, tag it on map, choose picture of it and type in some keywords and voilà, your location is created!
            		</p> 
            	</div>
          	</p>
    	</div>
    	<%= render 'form' %>
    </div>
</div>
<br>